[Unit]
Description=PotPi
After=multi-user.target

[Service]
Type=idle

User=pi
ExecStart=/usr/local/PotPi/env/bin/python3 /usr/local/PotPi/env/bin/read1sec.py

Restart=always
RestartSec=5
WorkingDirectory=/home/pi/Desktop
[Install]
WantedBy=multi-user.target
